<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite thread-count="1" configfailurepolicy="continue" name="Aajtak">
	<listeners>
		<listener class-name="com.aajtak.android.listener.MyExtentListners" />
	</listeners>
	<test thread-count="1" name="Aajtak_Test1">
		<classes>
			<class name="com.aajtak.android.NonFunctional.TC_AT_NonFuntional_001" />
			<class name="com.aajtak.android.NonFunctional.TC_AT_NonFuntional_002" />
			<class name="com.aajtak.android.NonFunctional.TC_AT_NonFuntional_003" />
			<class name="com.aajtak.android.NonFunctional.TC_AT_NonFuntional_004" />
			<class name="com.aajtak.android.NonFunctional.TC_AT_NonFuntional_006" />
			<class name="com.aajtak.android.NonFunctional.TC_AT_NonFuntional_007" />
			<class name="com.aajtak.android.AppLaunch.TC_AT_AppLaunch_001" />
			<class name="com.aajtak.android.AppLaunch.TC_AT_AppLaunch_002" />
			<class name="com.aajtak.android.AppMessage.TC_AT_AppMsg_001" />
			<class name="com.aajtak.android.AppMessage.TC_AT_AppMsg_002" />
			<class name="com.aajtak.android.AppMessage.TC_AT_AppMsg_008" />
			<class name="com.aajtak.android.PermissionMessage.TC_AT_PermissionMessage_001" />
			<class name="com.aajtak.android.PermissionMessage.TC_AT_PermissionMessage_002" />
			<class name="com.aajtak.android.Onboarding.TC_AT_Onboarding_001" />
			<class name="com.aajtak.android.Onboarding.TC_AT_Onboarding_002" />
			<class name="com.aajtak.android.Onboarding.TC_AT_Onboarding_003" />
			<class name="com.aajtak.android.Onboarding.TC_AT_Onboarding_004" />
			<class name="com.aajtak.android.HomeScreen.TC_AT_HomeScreen_001" />
			<class name="com.aajtak.android.HomeScreen.TC_AT_HomeScreen_001" />
			<class name="com.aajtak.android.HomeScreen.TC_AT_HomeScreen_002" />
			<class name="com.aajtak.android.HomeScreen.TC_AT_HomeScreen_003" />
			<class name="com.aajtak.android.HomeScreen.TC_AT_HomeScreen_004" />
			<class name="com.aajtak.android.HomeScreen.TC_AT_HomeScreen_005" />
			<class name="com.aajtak.android.HomeScreen.TC_AT_HomeScreen_006" />
			<class name="com.aajtak.android.HomeScreen.TC_AT_HomeScreen_007" />
			<class name="com.aajtak.android.HomeScreen.TC_AT_HomeScreen_008" />
			<class name="com.aajtak.android.HomeScreen.TC_AT_HomeScreen_009" />
			<class name="com.aajtak.android.HomeScreen.TC_AT_HomeScreen_010" />
			<class name="com.aajtak.android.HomeScreen.TC_AT_HomeScreen_011" />
			<class name="com.aajtak.android.HomeScreen.TC_AT_HomeScreen_012" />
			<class name="com.aajtak.android.HomeScreen.TC_AT_HomeScreen_013" />
			<class name="com.aajtak.android.HomeScreen.TC_AT_HomeScreen_014" />
			<class name="com.aajtak.android.HomeScreen.TC_AT_HomeScreen_015" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_001" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_002" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_003" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_004" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_005" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_006" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_007" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_008" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_009" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_010" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_011" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_012" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_013" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_014" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_015" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_016" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_017" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_018" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_019" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_020" />
			<class name="com.aajtak.android.DailyCapsule.TC_AT_DailyCapsule_021" />
			<class name="com.aajtak.android.HomeScreenSection.TC_AT_HomeSec_001" />
			<class name="com.aajtak.android.HomeScreenSection.TC_AT_HomeSec_002" />
			<class name="com.aajtak.android.HomeScreenSection.TC_AT_HomeSec_003" />
			<class name="com.aajtak.android.HomeScreenSection.TC_AT_HomeSec_004" />
			<class name="com.aajtak.android.HomeScreenSection.TC_AT_HomeSec_005" />
			<class name="com.aajtak.android.HomeScreenSection.TC_AT_HomeSec_006" />
			<class name="com.aajtak.android.HomeScreenSection.TC_AT_HomeSec_007" />
			<class name="com.aajtak.android.HomeScreenSection.TC_AT_HomeSec_008" />
			<class name="com.aajtak.android.HomeScreenSection.TC_AT_HomeSec_009" />
			<class name="com.aajtak.android.HomeScreenSection.TC_AT_HomeSec_010" />
			<class name="com.aajtak.android.HomeScreenSection.TC_AT_HomeSec_011" />
			<class name="com.aajtak.android.HomeScreenSection.TC_AT_HomeSec_012" />
			<class name="com.aajtak.android.HomeScreenSection.TC_AT_HomeSec_015" />
			<class name="com.aajtak.android.NewsList.TC_AT_NewsList_001" />
			<class name="com.aajtak.android.NewsList.TC_AT_NewsList_002" />
			<class name="com.aajtak.android.NewsList.TC_AT_NewsList_003" />
			<class name="com.aajtak.android.NewsList.TC_AT_NewsList_004" />
			<class name="com.aajtak.android.NewsList.TC_AT_NewsList_005" />
			<class name="com.aajtak.android.NewsList.TC_AT_NewsList_006" />
			<class name="com.aajtak.android.NewsList.TC_AT_NewsList_007" />
			<class name="com.aajtak.android.NewsList.TC_AT_NewsList_008" />
			<class name="com.aajtak.android.NewsList.TC_AT_NewsList_009" />
			<class name="com.aajtak.android.NewsList.TC_AT_NewsList_010" />
			<class name="com.aajtak.android.NewsList.TC_AT_NewsList_011" />
			<class name="com.aajtak.android.NewsList.TC_AT_NewsList_012" />
			<class name="com.aajtak.android.NewsList.TC_AT_NewsList_013" />
			<class name="com.aajtak.android.NewsList.TC_AT_NewsList_014" />
			<class name="com.aajtak.android.StoryDetails.TC_AT_StoryDetail_001" />
			<class name="com.aajtak.android.StoryDetails.TC_AT_StoryDetail_002" />
			<class name="com.aajtak.android.StoryDetails.TC_AT_StoryDetail_003" />
			<class name="com.aajtak.android.StoryDetails.TC_AT_StoryDetail_004" />
			<class name="com.aajtak.android.StoryDetails.TC_AT_StoryDetail_007" />
			<class name="com.aajtak.android.StoryDetails.TC_AT_StoryDetail_008" />
			<class name="com.aajtak.android.StoryDetails.TC_AT_StoryDetail_009" />
			<class name="com.aajtak.android.StoryDetails.TC_AT_StoryDetail_010" />
			<class name="com.aajtak.android.StoryDetails.TC_AT_StoryDetail_011" />
			<class name="com.aajtak.android.StoryDetails.TC_AT_StoryDetail_013" />
			<class name="com.aajtak.android.StoryDetails.TC_AT_StoryDetail_014" />
			<class name="com.aajtak.android.StoryDetails.TC_AT_StoryDetail_017" />
			<class name="com.aajtak.android.StoryDetails.TC_AT_StoryDetail_018" />
			<class name="com.aajtak.android.StoryDetails.TC_AT_StoryDetail_019" />
			<class name="com.aajtak.android.Poll.TC_AT_Poll_001" />
			<class name="com.aajtak.android.Poll.TC_AT_Poll_002" />
			<class name="com.aajtak.android.Poll.TC_AT_Poll_003" />
			<class name="com.aajtak.android.Poll.TC_AT_Poll_004" />
			<class name="com.aajtak.android.Poll.TC_AT_Poll_005" />
			<class name="com.aajtak.android.Poll.TC_AT_Poll_006" />
			<class name="com.aajtak.android.Poll.TC_AT_Poll_007" />
			<class name="com.aajtak.android.Poll.TC_AT_Poll_008" />
			<class name="com.aajtak.android.Poll.TC_AT_Poll_009" />
			<class name="com.aajtak.android.Poll.TC_AT_Poll_010" />
			<class name="com.aajtak.android.Poll.TC_AT_Poll_011" />
			<class name="com.aajtak.android.Poll.TC_AT_Poll_012" />
			<class name="com.aajtak.android.OtherAppsFromIndiaToday.TC_AT_OtherApps_001" />
			<class name="com.aajtak.android.OtherAppsFromIndiaToday.TC_AT_OtherApps_002" />
			<class name="com.aajtak.android.OtherAppsFromIndiaToday.TC_AT_OtherApps_003" />
			<class name="com.aajtak.android.OtherAppsFromIndiaToday.TC_AT_OtherApps_005" />
			<class name="com.aajtak.android.LogOut.TC_AT_Logout_001" />
			<class name="com.aajtak.android.LogOut.TC_AT_Logout_002" />
			<class name="com.aajtak.android.LogOut.TC_AT_Logout_003" />
			<class name="com.aajtak.android.LogOut.TC_AT_Logout_004" />
			<class name="com.aajtak.android.Hamburger_HamburgerMenu.TC_AT_Hamburger_001" />
			<class name="com.aajtak.android.Hamburger_HamburgerMenu.TC_AT_Hamburger_002" />
			<class name="com.aajtak.android.Hamburger_HamburgerMenu.TC_AT_Hamburger_003" />
			<class name="com.aajtak.android.Hamburger_HamburgerMenu.TC_AT_Hamburger_004" />
			<class name="com.aajtak.android.Hamburger_HamburgerMenu.TC_AT_Hamburger_005" />
			<class name="com.aajtak.android.Hamburger_HamburgerMenu.TC_AT_Hamburger_006" />
			<class name="com.aajtak.android.Hamburger_HamburgerMenu.TC_AT_Hamburger_007" />
			<class name="com.aajtak.android.Hamburger_HamburgerMenu.TC_AT_Hamburger_008" />
			<class name="com.aajtak.android.Hamburger_HamburgerMenu.TC_AT_Hamburger_009" />
			<class name="com.aajtak.android.Hamburger_HamburgerMenu.TC_AT_Hamburger_010" />
			<class name="com.aajtak.android.Hamburger_HamburgerMenu.TC_AT_Hamburger_011" />
			<class name="com.aajtak.android.Hamburger_HamburgerMenu.TC_AT_Hamburger_015" />
			<class name="com.aajtak.android.Hamburger_HamburgerMenu.TC_AT_Hamburger_016" />
			<class name="com.aajtak.android.Hamburger_HamburgerMenu.TC_AT_Hamburger_017" />
			<class name="com.aajtak.android.Hamburger_HamburgerMenu.TC_AT_Hamburger_018" />
			<class name="com.aajtak.android.Hamburger_HamburgerMenu.TC_AT_Hamburger_019" />
			<class name="com.aajtak.android.Hamburger_HamburgerMenu.TC_AT_Hamburger_020" />
			<class name="com.aajtak.android.Hamburger_PrivacyPolicy.TC_AT_PrivacyPolicy_001" />
			<class name="com.aajtak.android.Hamburger_PrivacyPolicy.TC_AT_PrivacyPolicy_002" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_001" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_002" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_003" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_004" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_005" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_006" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_009" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_010" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_011" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_012" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_013" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_014" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_015" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_016" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_017" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_018" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_019" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_020" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_023" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_024" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_026" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_025" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_027" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_028" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_029" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_030" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_031" />
			<class name="com.aajtak.android.Hamburger_DownloadedContent.TC_AT_Dwncnt_033" />
			<class name="com.aajtak.android.Hamburger_SectionCustomizeKarein.TC_AT_SecCustKa_001" />
			<class name="com.aajtak.android.Hamburger_SectionCustomizeKarein.TC_AT_SecCustKa_002" />
			<class name="com.aajtak.android.Hamburger_SectionCustomizeKarein.TC_AT_SecCustKa_004" />
			<class name="com.aajtak.android.Hamburger_SectionCustomizeKarein.TC_AT_SecCustKa_005" />
			<class name="com.aajtak.android.Hamburger_SectionCustomizeKarein.TC_AT_SecCustKa_006" />
			<class name="com.aajtak.android.Hamburger_SectionCustomizeKarein.TC_AT_SecCustKa_007" />
			<class name="com.aajtak.android.Hamburger_SectionCustomizeKarein.TC_AT_SecCustKa_008" />
			<class name="com.aajtak.android.Hamburger_SectionCustomizeKarein.TC_AT_SecCustKa_009" />
			<class name="com.aajtak.android.Hamburger_SectionCustomizeKarein.TC_AT_SecCustKa_010" />
			<class name="com.aajtak.android.Hamburger_SectionCustomizeKarein.TC_AT_SecCustKa_011" />
			<class name="com.aajtak.android.Hamburger_SectionCustomizeKarein.TC_AT_SecCustKa_012" />
			<class name="com.aajtak.android.Hamburger_SectionCustomizeKarein.TC_AT_SecCustKa_013" />
			<class name="com.aajtak.android.Hamburger_SectionCustomizeKarein.TC_AT_SecCustKa_014" />
			<class name="com.aajtak.android.Hamburger_SectionCustomizeKarein.TC_AT_SecCustKa_015" />
			<class name="com.aajtak.android.Hamburger_SectionCustomizeKarein.TC_AT_SecCustKa_016" />
			<class name="com.aajtak.android.Hamburger_SectionCustomizeKarein.TC_AT_SecCustKa_017" />
			<class name="com.aajtak.android.Hamburger_SectionCustomizeKarein.TC_AT_SecCustKa_018" />
			<class name="com.aajtak.android.Hamburger_SectionCustomizeKarein.TC_AT_SecCustKa_019" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_001" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_002" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_003" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_004" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_005" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_006" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_008" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_009" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_010" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_011" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_012" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_013" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_014" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_016" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_017" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_018" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_019" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_020" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_021" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_023" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_024" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_025" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_026" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_027" />
			<class name="com.aajtak.android.Hamburger_BookmarkContent.TC_AT_Bookmarkcontent_028" />
			<class name="com.aajtak.android.Hamburger_SevaKiSharthe.TC_AT_SevaKiSharthein_002" />
			<class name="com.aajtak.android.Hamburger_SevaKiSharthe.TC_AT_SevaKiSharthein_001" />
			<class name="com.aajtak.android.Hamburger_OfflinePade.TC_AT_OfflinePade_001" />
			<class name="com.aajtak.android.Hamburger_OfflinePade.TC_AT_OfflinePade_002" />
			<class name="com.aajtak.android.Hamburger_OfflinePade.TC_AT_OfflinePade_003" />
			<class name="com.aajtak.android.Hamburger_OfflinePade.TC_AT_OfflinePade_004" />
			<class name="com.aajtak.android.Hamburger_OfflinePade.TC_AT_OfflinePade_005" />
			<class name="com.aajtak.android.Hamburger_Login.TC_AT_HamburgerLogin_001" />
			<class name="com.aajtak.android.Hamburger_Login.TC_AT_HamburgerLogin_004" />
			<class name="com.aajtak.android.Hamburger_Login.TC_AT_HamburgerLogin_006" />
			<class name="com.aajtak.android.Hamburger_ImageDownloadKarien.TC_AT_ImgDownload_001" />
			<class name="com.aajtak.android.Hamburger_ImageDownloadKarien.TC_AT_ImgDownload_002" />
			<class name="com.aajtak.android.Hamburger_ImageDownloadKarien.TC_AT_ImgDownload_003" />
			<class name="com.aajtak.android.Hamburger_ImageDownloadKarien.TC_AT_ImgDownload_004" />
			<class name="com.aajtak.android.Hamburger_ImageDownloadKarien.TC_AT_ImgDownload_005" />
			<class name="com.aajtak.android.Hamburger_ImageDownloadKarien.TC_AT_ImgDownload_007" />
			<class name="com.aajtak.android.Hamburger_AppVersion.TC_AT_AppVersion_001" />
			<class name="com.aajtak.android.Hamburger_AppVersion.TC_AT_AppVersion_002" />
			<class name="com.aajtak.android.Hamburger_Feedback.TC_AT_Feedback_001" />
			<class name="com.aajtak.android.Hamburger_Feedback.TC_AT_Feedback_002" />
			<class name="com.aajtak.android.Hamburger_Feedback.TC_AT_Feedback_003" />
			<class name="com.aajtak.android.Hamburger_Feedback.TC_AT_Feedback_004" />
			<class name="com.aajtak.android.Hamburger_Feedback.TC_AT_Feedback_005" />
			<class name="com.aajtak.android.Hamburger_Feedback.TC_AT_Feedback_006" />
			<class name="com.aajtak.android.Hamburger_Feedback.TC_AT_Feedback_007" />
			<class name="com.aajtak.android.Hamburger_Feedback.TC_AT_Feedback_008" />
			<class name="com.aajtak.android.Hamburger_AppShareKaren.TC_AT_APPShare_001" />
			<class name="com.aajtak.android.Hamburger_AppShareKaren.TC_AT_APPShare_002" />
			<class name="com.aajtak.android.Hamburger_AppShareKaren.TC_AT_APPShare_003" />
			<class name="com.aajtak.android.Hamburger_AppShareKaren.TC_AT_APPShare_004" />
			<class name="com.aajtak.android.Hamburger_AppMemoryClearKaren.TC_AT_APPMem_001" />
			<class name="com.aajtak.android.Hamburger_AppMemoryClearKaren.TC_AT_APPMem_002" />
			<class name="com.aajtak.android.Hamburger_AppMemoryClearKaren.TC_AT_APPMem_003" />
			<class name="com.aajtak.android.Hamburger_AppMemoryClearKaren.TC_AT_APPMem_004" />
			<class name="com.aajtak.android.BottomNavigationBar.TC_AT_BNB_001" />
			<class name="com.aajtak.android.BottomNavigationBar.TC_AT_BNB_002" />
			<class name="com.aajtak.android.BottomNavigationBar.TC_AT_BNB_003" />
			<class name="com.aajtak.android.BottomNavigationBar.TC_AT_BNB_005" />
			<class name="com.aajtak.android.BottomNavigationBar.TC_AT_BNB_006" />
			<class name="com.aajtak.android.BottomNavigationBar.TC_AT_BNB_008" />
			<class name="com.aajtak.android.BottomNavigationBar.TC_AT_BNB_009" />
			<class name="com.aajtak.android.BottomNavigationBar.TC_AT_BNB_011" />
			<class name="com.aajtak.android.BottomNavigationBar.TC_AT_BNB_018" />
			<class name="com.aajtak.android.BottomNavigationBar.TC_AT_BNB_019" />
			<class name="com.aajtak.android.Photo.TC_AT_Photo_001" />
			<class name="com.aajtak.android.Photo.TC_AT_Photo_002" />
			<class name="com.aajtak.android.Photo.TC_AT_Photo_003" />
			<class name="com.aajtak.android.Photo.TC_AT_Photo_004" />
			<class name="com.aajtak.android.Photo.TC_AT_Photo_005" />
			<class name="com.aajtak.android.Photo.TC_AT_Photo_006" />
			<class name="com.aajtak.android.Photo.TC_AT_Photo_007" />
			<class name="com.aajtak.android.Photo.TC_AT_Photo_008" />
			<class name="com.aajtak.android.Photo.TC_AT_Photo_009" />
			<class name="com.aajtak.android.Photo.TC_AT_Photo_010" />
			<class name="com.aajtak.android.Photo.TC_AT_Photo_011" />
			<class name="com.aajtak.android.Photo.TC_AT_Photo_012" />
			<class name="com.aajtak.android.Photo.TC_AT_Photo_013" />
			<class name="com.aajtak.android.Photo.TC_AT_Photo_014" />
			<class name="com.aajtak.android.Photo.TC_AT_Photo_015" />
			<class name="com.aajtak.android.Photo.TC_AT_Photo_016" />
			<class name="com.aajtak.android.Photo.TC_AT_Photo_017" />
			<class name="com.aajtak.android.Photo.TC_AT_Photo_019" />
			<class name="com.aajtak.android.EditProfile.TC_AT_EditProf_001" />
			<class name="com.aajtak.android.EditProfile.TC_AT_EditProf_002" />
			<class name="com.aajtak.android.EditProfile.TC_AT_EditProf_003" />
			<class name="com.aajtak.android.EditProfile.TC_AT_EditProf_005" />
			<class name="com.aajtak.android.EditProfile.TC_AT_EditProf_006" />
			<class name="com.aajtak.android.EditProfile.TC_AT_EditProf_007" />
			<class name="com.aajtak.android.EditProfile.TC_AT_EditProf_008" />
			<class name="com.aajtak.android.EditProfile.TC_AT_EditProf_009" />
			<class name="com.aajtak.android.EditProfile.TC_AT_EditProf_011" />
			<class name="com.aajtak.android.ViewProfile.TC_AT_ViewProfile_001" />
			<class name="com.aajtak.android.ViewProfile.TC_AT_ViewProfile_002" />
			<class name="com.aajtak.android.ViewProfile.TC_AT_ViewProfile_003" />
			<class name="com.aajtak.android.ViewProfile.TC_AT_ViewProfile_004" />
			<class name="com.aajtak.android.ViewProfile.TC_AT_ViewProfile_005" />
		</classes>
	</test> <!-- Aajtak_Test1 -->
</suite> <!-- Aajtak -->
